@charset "utf-8";

@import url(./form.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-black: #141414;
  --app-gray: #1e1e1e;
  --app-white: #fff;
}

html, textarea {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
}

button {
  border: none;
  cursor: pointer;
}

/*------------------------------------------------------------------------------
  Navigation Tab
------------------------------------------------------------------------------*/
.navigation-tab {
  width: 80px;
  background-color: var(--app-gray);
  padding: 15px 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100vh;

  i {
    color: var(--app-white);
  }
}

.expand-btn-container {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 25px;
}

.expand {
  text-align: center;
  cursor: pointer;
}

.ai-type-list {
  display: grid;
  gap: 45px;
  justify-items: center;
  font-size: 30px;
}

.icon-circle {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: var(--app-black);
  cursor: pointer;
}

.cog-btn-container {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 25px;
}

.setting-btn {
  cursor: pointer;
}

.menu-tab {
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 3;
  height: 100vh;
  width: 300px;
  background-color: var(--app-gray);
  transition: 0.5s ease;
  padding: 20px 15px;
  overflow: auto;

  h1 {
    color: var(--app-white);
    padding-top: 20px;
    font-weight: 500;
  }
}

.version-description {
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--app-white);
}

.logo-and-exapnd-description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {    
    color: var(--app-white);
  }

  .fa-angle-down {
    font-size: 18px;
    cursor: pointer;
  }
}

.description {
  color: var(--app-white);
  display: none;

  h2 {
    font-weight: 500;
  }
  
  p {
    font-size: 14px;
  }
}

.show-tab {
  left: 0;
}

.display-inline {
  display: inline;
}

/* Chat History */
.history-list {
  color: var(--app-white);
}

.chat-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 5px;
  border-radius: 5px;
  
  h2 {
    font-weight: 400;
    font-size: 16px;  
  }

  button {
    background-color: #00000000;  
    color: var(--app-white);
  }
}

.chat-info:hover {
  background-color: var(--app-black);
}

/*------------------------------------------------------------------------------
  Floating screen
------------------------------------------------------------------------------*/
.floating-screen-container {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  display: none;/* Test */
  justify-content: center;
  align-items: center;
  color: var(--app-white);
}

.floating-screen {
  background-color: var(--app-black);  
  padding: 20px 35px;
  border-radius: 20px;
  
  input, textarea {
    outline: none;
    border: 1px solid var(--app-black);
    padding: 8px 10px;
    border-radius: 5px;
  }
  
  p { font-size: 12px; }
  
  h1 { font-weight: 500; }  
}

/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/
header {
  padding: 20px 5px;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: end;

  .fa-bars {
    display: none;
  }
}

.header-btn {
  display: flex;
  gap: 10px;

  button {
    border: none;
    height: 43px;
    width: 105px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s ease;
    font-size: 14px;
  }
}

.save-btn {
  background-color: var(--app-white);
  color: var(--app-black);
}

.save-btn:hover {
  background-color: #ffffffe5;
}

.expand {
  font-size: 25px;
  color: var(--app-white);
}

/*------------------------------------------------------------------------------
  Chat Contents
------------------------------------------------------------------------------*/
.chat-contents {
  height: 100vh;
  width: calc(100% - 80px);
  background-color: var(--app-black);
  padding: 0 15px;
  color: var(--app-white);
  overflow: auto;
  position: relative;
}

.print-version-container {
  display: flex;
  justify-content: center;
  color: #ffffff49;
  margin-bottom: 20px;
}

.convertation {
  width: min(100% - 10px, 800px);
  margin-inline: auto;
  padding-bottom: calc(50px + 66px + 20px);
}

.icon {
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-icon {
  background-color: #ff0000;
}

.user-icon {
  background-color: #00ffff;
}

.user-respond {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  width: 100%;

  p {
    max-width: 70%;
    padding: 15px;
    border-radius: 5px;
    text-align: right;
    background-color: var(--app-gray);
  }
}

.ai-respond {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 40px;

  p {
    width: 70%;
  }
}

.input-container {
  display: flex;
  justify-content: center;
  z-index: 1;
  bottom: 50px;
  width: calc(100% - 80px - 30px);
  position: fixed;
}

.input-prompt {
  background-color: var(--app-gray);
  border-radius: 30px;
  padding: 23px 25px;
  width: min(100% - 10px, 800px);
  margin-inline: auto;
  display: flex;
  gap: 15px;
}

.input-prompt form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-prompt textarea {
  resize: none;
  width: 100%;
  border: none;
  background-color: #00000000;
  color: var(--app-white);
  font-size: 17px;
  outline: none;
  max-height: 100px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--app-black);
}

::-webkit-scrollbar-thumb {
  background-color: var(--app-white);
  border-radius: 6px;
}

.input-prompt button {
  background-color: #00000000;
  border: none;
}

.fa-paper-plane {
  color: #ffffff4b;
  font-size: 16px;
}

.user-respond {
  display: flex;
  justify-content: end;
}

/*------------------------------------------------------------------------------
  Save form
------------------------------------------------------------------------------*/
.save {
  background-color: var(--app-gray);
  color: var(--app-white);
  height: 33px;
  width: 50px;
  border-radius: 5px;
  transition: 0.5s ease;
}

.chat-name {
  outline: 1px solid red;
}
/*------------------------------------------------------------------------------
  Media Queries
------------------------------------------------------------------------------*/
@media screen and (max-width: 715px) {
  .navigation-tab {
    display: none;
  }

  .chat-contents {
    width: 100%;
  }

  .input-container {
    width: calc(100% - 30px);
  }

  .header-content {
    justify-content: space-between;
    align-items: center;

    .fa-bars {
      display: inline;
    }
  }
  
  .ai-respond p {
    width: 100%;
  }
}