@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --app-black: #141414;
  --app-gray: #1e1e1e;
  --app-white: #fff;
}

html, textarea {
  font-family: "Poppins", sans-serif;
}

main {
  display: flex;
}

/*------------------------------------------------------------------------------
  Navigation Tab
------------------------------------------------------------------------------*/
.navigation-tab {
  width: 80px;
  background-color: var(--app-gray);
  padding: 15px 0;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  max-height: 100vh;

  i {
    color: var(--app-white);
  }
}

.expand-btn-container {
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 25px;
}

.expand {
  text-align: center;
  cursor: pointer;
}

/*------------------------------------------------------------------------------
  Chat Contents
------------------------------------------------------------------------------*/
.ai-type-list {
  display: grid;
  gap: 45px;
  justify-items: center;
  font-size: 30px;
}

.icon-circle {
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  background-color: var(--app-black);
  cursor: pointer;
}

.cog-btn-container {
  display: flex;
  align-items: end;
  justify-content: center;
  font-size: 25px;
}

.setting-btn {
  cursor: pointer;
}

.chat-contents {
  height: 100vh;
  width: calc(1325px - 80px);
  background-color: var(--app-black);
  padding: 0 15px;
  color: var(--app-white);
  overflow: auto;
  padding-top: 60px;
}

header {
  width: calc(100% - 80px - 15px - 15px);
  padding: 20px;
  position: fixed;
  top: 0;
}

.header-content {
  display: flex;
  justify-content: end;
}

.print-version-container {
  display: flex;
  justify-content: center;
  color: #ffffff49;
  margin-bottom: 20px;
}

.convertation {
  width: min(100% - 10px, 800px);
  margin-inline: auto;
  position: relative;
  padding-bottom: calc(50px + 66px + 20px);
}

.icon {
  height: 35px;
  width: 35px;
  border-radius: 17.5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ai-icon {
  background-color: #ff0000;
}

.user-icon {
  background-color: #00ffff;
}

.user-respond {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
  width: 100%;

  p {
    max-width: 70%;
    padding: 15px;
    border-radius: 5px;
    text-align: right;
    background-color: var(--app-gray);
  }
}

.ai-respond {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-bottom: 40px;

  p {
    width: 70%;
  }
}

.input-container {
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: center;
  z-index: 1;
  width: min(100% - 10px, 800px);
  background-color: var(--app-gray);
  border-radius: 30px;
}

.input-prompt {
  background-color: #00000000;
  padding: 23px 25px;
  width: 100%;
  display: flex;
  gap: 15px;
}

.input-prompt form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.input-prompt textarea {
  resize: none;
  width: 100%;
  border: none;
  background-color: #00000000;
  color: var(--app-white);
  font-size: 17px;
  outline: none;
  max-height: 100px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: var(--app-gray);
}

::-webkit-scrollbar-thumb {
  background-color: var(--app-white);
  border-radius: 6px;
}

button {
  background-color: #00000000;
  border: none;
}

.fa-paper-plane {
  color: #ffffff4b;
  font-size: 16px;
}

.user-respond {
  display: flex;
  justify-content: end;
}

/*------------------------------------------------------------------------------
  Contact Me
------------------------------------------------------------------------------*/

.contact-btn {
  border: none;
  background-color: #1e1e1ee0;
  color: #fff;
  padding: 14px 17px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-btn:hover {
  background-color: var(--app-gray);
}

.contact-form {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #00000088;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--app-white);
}

.contact-me {
  background-color: var(--app-black);  
  padding: 20px 35px;
  border-radius: 20px;

  input, textarea {
    outline: none;
    border: 1px solid var(--app-black);
    padding: 8px 10px;
    border-radius: 5px;
  }
  
  p { font-size: 12px; }
  
  h1 { font-weight: 500; }
}

.contact-title {  
  margin-bottom: 22px;
  padding-bottom: 18px;
  border-bottom: 1px solid var(--app-gray);
}

.contact-me form {
  display: grid;
  gap: 20px;
}

.last-and-first-name {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 5px;

}

.input-row:nth-of-type(n + 2) {
  input {
    display: block;
    width: 100%;
  }

  textarea {
    display: block;
    width: 100%;
    height: 80px;
    resize: none;
    padding-right: 8px;
  }

  p {
    margin-top: 5px;
  }
}

.form-submit-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submit {
  background-color: var(--app-white);
  padding: 15px 25px;
  border-radius: 14px;
  font-weight: 400;
  cursor: pointer;
}